

:root{
  --denim: #0e5dbeff;
  --asparagus: #698f3fff;
  --seasalt: #fbfaf8ff;
  --raisin-black: #1a181bff;
  --cinereous: #8a716aff;

}


.moon-dance-regular {
  font-family: "Moon Dance", cursive;
  font-weight: 400;
  font-style: normal;
}

.mooli-regular {
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.calligraffitti-regular {
  font-family: "Calligraffitti", cursive;
  font-weight: 400;
  font-style: normal;
}


  /* Body */
  body {
    background-color: rgba(217, 247, 255, 0.154);
  }

  body h1 {
    font-size: 5rem;
    font-family: "Moon Dance", cursive;
    font-weight: 800;
    color: black;
    text-align: center;
    /*grid-column: 4/5;
    grid-row: 1; */
    margin: 3rem;
    padding: 25px;

    
  }

  /* Header */
  header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
   /* grid-template-rows: 2fr 3fr; */
  }
  
  .scroller {
    border: 0.125rem solid black;
    width: 150px;
    height: auto;
    grid-column: 1/2;
    margin: 1rem;
    padding: 50px;
    border-radius: 2.5rem;
  }

  header img {
    width: 95%;
    grid-column: 2/5;
    margin: 1rem 7rem 0 0;
    border: 2px solid black;
  }

  header p {
    font-size: 2.0rem;
    font-family: "Moon Dance", cursive;
    font-weight: 400;
    text-align: right;
    grid-column: 2/3;
    color: var(--raisin-black);
  }

  .click {
    width: 8rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    margin: 1rem;
    border-radius: 15px;
    grid-column: 3/4;
    background-color: red;
    color: black;
  }


  /* End of Header */

  /* Navigation */
  #menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  
  #menu::before {
    content: "☰";
    font-size: 5rem;
  }
  
  #menu.open::before {
    content: "❎";
  }
  
  nav {
    font-size: 3rem;
    font-family: "Moon Dance", cursive;
    font-weight: 500;
    text-align: center;
    margin: -3rem 2rem;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  nav li {
    list-style: none;
  }

  nav a{
    color: #000;
    text-align: center;
    margin: 2rem 4rem 2rem 3rem;  
}

nav a:hover {
    background-color: #fff;
    color: lightcoral;

}

  /* End of Navigation */

  /* Main */
  main {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
  }

  section {
    border: 0.125rem solid black;
    width: 200px;
    height: 400px;
    margin: 3rem;
    padding: 2rem;
    border-radius: 2.5rem;
  }

  section p {
    font-family: "Calligraffitti", cursive;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 1rem 0.5 1rem 4rem;
    color: black;
  }

  section li {
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    list-style: none;
  }
  

  .list i {
    font-size: 4rem;
    width: 6rem;
    color: var(--raisin-black);
  }

  .current-events i {
    font-size: 4rem;
    width: 6rem;
    color: var(--cinereous);
  }
  .weather i {
    font-size: 4rem;
    width: 6rem;
    color: var(--asparagus);
  }
  .spotlight i {
    font-size: 4rem;
    width: 6rem;
    color: var(--denim);
  }

  .list {
    grid-column: 1/2;
  }
  .current-events {
    grid-column: 3/4;
  }

  .weather {
    grid-column: 5/6;
  }

  .spotlight {
    grid-column: 7/8;
  }

 
  
  /* End of Main */

  /* Footer */
  footer {
    display: grid;
    grid-template-columns: 2fr 2fr;
 
 
  }

  .left {
    font-family: "Mooli", sans-serif;
    grid-column: 1/2;
    text-align: left;
    margin: 2rem;
    padding: 0.5rem;
  }
  footer img {
    width: 25px;
    height: 15px;
    padding-left: 1rem;
  }

  .contact {
    font-family: "Mooli", sans-serif;
    grid-column: 3/4;
    text-align: left;
    margin: 2rem 6rem 0 0;
    padding-right: 0.5rem;
  }
  /* End of Footer */

 /* End of Body */






 