:root {
    --primary-color: #FFF275;
    --secondary-color: #59C9A5;
    --accent-color1: #009DDC;
    --accent-color2: #F07167;
    --accent-color3: #987284;

    --heading-font: 'Mukta', sans-serif ;
    --paragraph-font: '';
}
