@media screen and (min-width: 640px){
   /* header{
        background-color: blanchedalmond;
    } */
    nav {
        background-color: lightcoral;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%
    }
    
    section {
        display: grid;
        grid-template-columns: 4fr;
    }

    .card h3 {
        grid-column: auto;
    }

    .card {
        grid-column: auto;
    }
}